.status-container{
    width: 81%;
    margin: auto;

.divstatus-container{
        @include caixas();
        margin: auto;
        height: 100px;
        top: 30px;
        position: relative;
        color: #000;
        display: grid;
        grid-template-columns: 100px 1fr;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        .icone{
            color: #4bd991;
            font-size: 5.4rem;
            text-align: center;
        }
        .notificação{
            font-size: 1.6rem;
        }
         
    

        
    }




}